/* Styles go here */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  font-size:12px; 
}

body{
  direction:rtl;
  text-align:center;
}

header>section{
  font-weight: bold;
  position:relative;
  height:24px;
  text-align: right;
  /* border:1px solid black; */
}
#head1{
  margin-top:20px;
}
#pictsrch{
  margin-right:2px;
  float:left;
}

input{
  height:19px;
  float:left;
  border-top-right-radius:8px; 
  border:0;
}

#lang{
  float:left;
  padding-top:2px;
  margin-left:20px;
/*   border:1px solid black; 
 */  height:20px;
}

ul{
  clear:both;
  list-style-type: none;
}

#head2>ul>li{
  /* border:1px solid black; */
  padding:0 10px;
  float:left;  
}

li:hover>sup{
  color:blue;
}

li:hover>a>p{
  color:blue;
}

li:hover .dropdown {
  display: block;
}

.dropdown{
  width:fit-content;
  display:none;
  position:absolute;
  margin-right: 10px;
  padding: 5px;
  background-color: gray;
}

#paz{
  position:absolute;
  top:-12px;
  right:-10px;
}
#home{
  margin-top:3px;
  background-position:right; 
  height:15px;
  width:17px;
  background-image: url("images/menu_home.png");       
}

ul img{
  margin: 0 0 0 15px;
}

header{
  position:absolute;
  width:100%;
  height:106px;
  background-image:url('images/header_bg.png');
  background-color:grey;
}

main{
  display:inline-block;
  margin:auto;
  background-color:goldenrod;
}

section{
  width:900px;
  border:0px solid red;
  margin:auto;
  margin: 0px auto;
}

#topLine * {
    border-bottom-right-radius:20px; 
}

#topLine>aside{
 margin-top:136px; 
 height: 355px;
}

aside{
  margin:6px;
  float:left;
  width:288px;
  background-color:white;  
}

#top1{
  background-image: url('images/354410564000.jpg');
}
#top2{
  background-image: url('images/Picture-046410251500.jpg');
}

#top3{
  background-image: url('images/350.JPG');
}

.text{
  padding-top:6px;
  padding-left:20px;
  padding-right:10px;
  font-size:12px;
  width: 245px;
  height:95px;
  text-align:right;
  margin-top:253px;
  margin-right:5px;
  background-color: grey;
  opacity: .9;
}

#botLine>aside{
  margin-top:20px;
  height: 210px; 
  border-top-right-radius:20px; 
  border:1px solid black;
}

footer{
  width:100%;
  position:fixed;
  bottom:0;
  height:50px;
  background-color:gray;
}
