/* Styles go here */
*{
  text-decoration: none;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;  
}

body{
  direction:rtl;
  text-align:center;
  
}

header, #topLine, .dropdown, footer *{
  color:white;
}

.main{
  width:900px;
  margin:0 auto;
}

header>section{
  color:white;
  font-weight: bold;
  position:relative;
  height:24px;
  text-align: right;
  /* border:1px solid black; */
}

#head1{
  margin-top:20px;
}

#pictsrch{
  margin-right:2px;
  float:left;
  padding-left: 10px;
}

input{
  color:gray;
  height:19px;
  float:left;
  width: 150px;
  border-top-right-radius:8px; 
  border:0;
}

#lang{
  float:left;
  padding-top:2px;
  margin-left:20px;
  font-size:13px; 

/*   border:1px solid black; 
 */  height:20px;
}

ul{
  list-style-type: none;
  margin-left:10px;
}

header>section>ul>li{
  font-size: 16px;
  /* border:1px solid black; */
  padding:0 10px;
  float:left;  
}

li:hover>sup{
  color:blue;
}

li:hover>a>p{
  color:blue;
}

li:hover .dropdown {
  display: block;
}

.dropdown{
  width:fit-content;
  display:none;
  position:absolute;
  margin-right: 10px;
  padding: 5px;
  background-color: gray;
  font-size: 14px;
}

#paz{
  position:absolute;
  top:-12px;
  right:-10px;
}

#home{
  margin-top:3px;
  background-position:right; 
  height:15px;
  width:17px;
  background-image: url("images/menu_home.png");       
}

ul img{
  margin: 0 0 0 15px;
}

header{
  position:absolute;
  width:100%;
  height:106px;
  background-image:url('images/header_bg.png');
  background-color:grey;
}
/*//main/////////////////////////////////////////////*/
main{
  display:inline-block;
  margin:auto;
  background-color:goldenrod;
}

#topLine>aside{
 border-bottom-right-radius: 20px;
 margin-top:136px; 
 height: 355px;
}

.kraod {
  color:white;
  line-height:0.8; 
  padding-left: 3px;
  float:left;
  text-decoration: underline;
}

.kraodpict{
  float:left;
}

aside{
  margin:6px;
  float:left;
  width:288px;
}

#top1{
  background-image: url('images/354410564000.jpg');
}
#top2{
  background-image: url('images/Picture-046410251500.jpg');
}

#top3{
  background-image: url('images/350.JPG');
}

.text{
  border-bottom-right-radius: 20px;
  padding-top:6px;
  padding-left:20px;
  padding-right:10px;
  font-size:12px;
  width: 245px;
  height:95px;
  text-align:right;
  margin-top:253px;
  margin-right:5px;
  background-color: grey;
  opacity: .9;
}

.text>p{
  height:55px;
  line-height: 1;
}
/*//bottline/////////////////////////////////////////////*/
#botLine>aside{
  text-align:right;
  font-weight:bold;
  font-size: 12px;
  color:black;
  margin-top:10px;
  padding-top:5px;
  padding-right:20px;
  height: 210px; 
  border-top-right-radius:20px; 
  border:1px solid rgb(204, 199, 199);
  background-image: url("images/small_cube_bg.png");
}

#botLine>aside>img {
  padding-top:25px;
  padding-bottom:20px;
}

#botLine>aside>a{
  /* border:1px solid black;  */
}

.prNosafim {
  font-weight: normal;
  font-size: 12px;
  color:gray;
  line-height:0.8; 
  padding-left: 3px;
  float:left;
  text-decoration: underline;
}

.imgPNosafim{
 margin-left:20px;
 float:left;
}

#bot1>div:first-child{
  height:30px;
}

/*///////////////*/
#bot1Div>ul {
  margin-top: 20px;
  float: right;
}

#bot1Div>ul>li>div>a>p{
  color: gray;
  font-weight: normal;
  text-decoration-line: underline;
  float: right;;
  width:35px;

}

/*/footer//////////////////////////////////////////////*/
footer{
  text-align: right;
  height:40px ;
  padding-top: 10px;
  width:100%;
  position:fixed;
  bottom:0;
  background-color:gray;
}

footer>ul>li {
  font-size: 15px;
  margin-top:3px;
  float: right;
  padding-left: 5px;
}

footer>ul>li:last-child>a {
 color:red;
}

#fb{
  margin-top:0px;
  height: 35px;
  margin-bottom: 5px;
  width: 25px;
}
